In [7]:
# Load packages
import pandas as pd

In [22]:
##1# defining the url for the site
base_site = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

##2# make (request, get, and parser) in one step using pandas function that called read_html
tables = pd.read_html(base_site)
len(tables)

2

In [19]:
primary_table = tables[0]
primary_table

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7926258000,NaN,28 Jan 2022,UN projection[1],NaN
1,1,China,Asia,1412600000,NaN,31 Dec 2021,National annual estimate[2],The population figure refers to mainland China...
2,2,India,Asia,1387349502,NaN,28 Jan 2022,National population clock[3],The figure includes the population of Jammu an...
3,3,United States,Americas,333129631,NaN,28 Jan 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,NaN,31 Dec 2020,National annual estimate[5],NaN
...,...,...,...,...,...,...,...,...
237,–,Niue (New Zealand),Oceania,1549,NaN,1 Jul 2021,National annual projection[90],NaN
238,–,Tokelau (New Zealand),Oceania,1501,NaN,1 Jul 2021,National annual projection[90],NaN
239,195,Vatican City,Europe,825,NaN,1 Feb 2019,Monthly national estimate[189],The total population of 825 consisted of 453 r...
240,–,Cocos (Keeling) Islands (Australia),Oceania,573,NaN,30 Jun 2020,National annual estimate[188],NaN
241,–,Pitcairn Islands (United Kingdom),Oceania,40,NaN,1 Jan 2021,National annual estimate[190],NaN

In [20]:
primary_table.columns

Index(['Rank', 'Country / Dependency', 'Region', 'Population', '% of world',
       'Date', 'Source (official or from the United Nations)', 'Notes'],
      dtype='object')

In [24]:
primary_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 8 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Rank                                          242 non-null    object
 1   Country / Dependency                          241 non-null    object
 2   Region                                        242 non-null    object
 3   Population                                    242 non-null    int64
 4   % of world                                    0 non-null      float64
 5   Date                                          242 non-null    object
 6   Source (official or from the United Nations)  242 non-null    object
 7   Notes                                         34 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 15.2+ KB